<header>
    <div class="container">
      <nav>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/login" *ngIf="!user" routerLinkActive="active">Sing in</a></li>
          <li *ngIf="user" class="menu-container" routerLinkActive="active"><a> {{user.name}} </a>
          <div class="menu">
            <a (click)="onLogout()">Logout</a>
          </div>
        </li>
          <li><a routerLink="/cart-page" routerLinkActive="active">Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a> 
          </li>
          <li><a routerLink="/analytics" routerLinkActive="active">Analytics</a></li>
        </ul>
      </nav>
    </div>
  </header>
