<div class="container">
    <div class="details">
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="submit()">

            <div class="input-container">
            <label>Name:</label>
                <div class="content">
                    <input type="text" placeholder="Name" formControlName="name">
                </div><ng-container *ngTemplateOutlet="requiredErrorRef; context: { $implicit: registerForm.get('name')}"></ng-container>
            </div>

            <div class="input-container">
                <label>Email:</label>
                    <div class="content">
                        <input type="email" placeholder="Email" formControlName="email">
                    </div><ng-container *ngTemplateOutlet="requiredErrorRef; context: { $implicit: registerForm.get('email')}"></ng-container>
            </div>

            <div class="input-container">
                <label>Password:</label>
                    <div class="content">
                        <input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Password" formControlName="password">
                        <a class="show-password" (click)="togglePasswordVisibility()">{{ showPassword ? 'Hide Password' : 'Show Password' }}</a>
                    </div><ng-container *ngTemplateOutlet="requiredErrorRef; context: { $implicit: registerForm.get('password')}"></ng-container>
            </div>

            <div class="input-container">
                <label>Confirm password:</label>
                    <div class="content">
                        <input type="{{ showConfirmPassword ? 'text' : 'password' }}" placeholder="Confirm Password" formControlName="confirmPassword">
                        <a class="show-password" (click)="toggleConfirmPasswordVisibility()">{{ showConfirmPassword ? 'Hide Password' : 'Show Password' }}</a>
                    </div><ng-container *ngTemplateOutlet="requiredErrorRef; context: { $implicit: registerForm.get('confirmPassword')}"></ng-container>
            </div>


                <button class="submit" type="submit">Register</button>

                <div class="login">
                    Already a user? &nbsp;
                    <a routerLink="/login" [queryParams]="{returnUrl: returnUrl}">
                      Login Here
                    </a>
                  </div>

                <ng-template #requiredErrorRef let-control>
                    <span class="input-error" *ngIf="(control?.errors?.required) && isSubmitted" style="color: red;" >Schould not be empty</span>
                    <span *ngIf="(control?.errors?.email) && isSubmitted" style="color: red;" >Email is not correct</span>
                    <span *ngIf="(control?.errors?.minlength) && isSubmitted" style="color: red;" >length not correct, you need to add minimum {{control?.errors?.['minlength']?.requiredLength}} characters! </span>
                </ng-template>
        </form>
    </div>
</div>